$orange-yellow-crayola: #fed766ff;
$feldgrau: #4a5859ff;
$candy-pink: #db6c79ff;
$forest-green-crayola: #6cae75ff;
$brick-red: #c83e4dff;




$primary_color: $brick-red;
$primary_contrast_color: $feldgrau;

$secondary_color: $orange-yellow-crayola;
$secondary_contrast_color: $feldgrau;

$header_color: $primary_color;
$header_text_color:$orange-yellow-crayola;
$site_title_color:$feldgrau;

$success_color:$forest-green-crayola;
$danger_color:$candy-pink;

