
@import "./theme02";

.App{
    display:flex;
    flex-direction:column;
    height:100%;
}

.AppHeader{
    background-color:$primary_color;
    color:$header_color;

    .btn-outline-success{
        color: $header_text_color;
        border-color: $header_text_color;
    }
    .dropdown-menu{
        background-color:$primary_color;
        
    }
    .dropdown-item{
        color:$header_text_color;
    }
    .dropdown-item:focus, .dropdown-item:hover{
        background-color:$orange-yellow-crayola;
        color:$secondary_contrast_color;
    }

}

.navbar-light .navbar-brand{
    color:$site_title_color;
    font-family:$site_title_font;
}

.text-danger{
    color: $danger_color !important;
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link
{
    color:$header_text_color;
    font-weight: bold;
}

.list-group-item {
    background-color:$secondary_color;
}

.list-group-item-action:hover{
    background-color:$secondary_highlight_color;
}

.list-group-item.active{
    background-color:$primary_color;
}





body{
    background-color:$secondary_color;
    font-family: $general-font;
}


.Screen{
    margin:10px;
    /* border:1px solid gray; */
    flex:1;
    padding-bottom:40px;
    

    h1{
        font-size:2em;
        color:$screen_title;
        font-family: $screen_title_font;
    }
    h2{
        font-size:1.5em;        
        font-family: $screen_subtitle_font;
    }
    h3{
        font-size:1em;        
        font-family: $screen_h3_font;
    }
    .badge{
        margin:2px;
    }
}



.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    background-color:$primary_color;
    color: $primary_contrast_color;
    text-align: center;
}


.BookListScreen{
    li{
        list-style: none;
        margin:10px;
    }
    img{
        width:90%;        
        margin:5px;
        box-shadow: -2px -2px 2px $primary_color;
    }
    a{
        color:$secondary_contrast_color;
        font-size:1.2em;
        font-weight:bold;
        font-family:$el_messiri;
    }
}

.BookDetailsScreen{
    img{
        width:90%;
        height:auto;
        border:10px solid $primary_color;
        box-shadow:-5px -5px 5px gray;
        border-radius: 10px;
        padding:0px;
    }
}

.login-image{
    width:200px;
    border-radius:50px;
    border:10px solid $primary_color;
    box-shadow:5px 5px 5px $secondary_contrast_color;
}

.NotFoundScreen{
    img{
        width:300px;
        border:10px solid $primary_color;
        border-radius: 20px;
        box-shadow: -5px 5px 5px $secondary_contrast_color;
    }
}
.Loading{
    img{
        border:0px;
        box-shadow: 0px 0px 0px;
        
    }
}
.center-image{
    display:flex;
    align-items:center;
    justify-content:center;    
    height:100%;
}
.BookAddScreen{
    img{
        width:200px;
        margin:10px;
        align-self: center;
        
    }
}